
body {background-color: #dcf0f7;}

h1{
  color: #66bfbf;
}

h3{
  color: #EBA83A;
  font-size: 20px;
}

hr   {
    border-style:none;
    border-top-style: dotted;
    border-color: #66bfbf;
    border-width: 5px;
    width: 10%;
  }

a {
  text-decoration: none;
  color: black;
}

.footer a {
  padding: 20px 30px;
  text-decoration: none;
  color: #eba83a;
  font-size: 20px;
}
